
    .container-fluid{
      width: 100%;
    }

html{scroll-behavior: smooth;}

    .Lamp:hover{fill:red;}
    /* when user hover on the devices and lamps, the fill color will be changed */

    .Devices{
      cursor: pointer;
    }

    .Devices:hover {
      fill: red;
    }

/* the description is the hover showing text */
    .description {
      pointer-events: none;
      position: absolute;
      font-size: 14px;
      text-align: center;
      background: black;
      padding: 10px 15px;
      z-index: 5;
      height: 50px;
      line-height: 22px;
      margin: 0 auto;
      color: white;
      border-radius: 5px;
      box-shadow: 0 0 0 1px #eee;
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      display: none;
    }
    .description.active {
      display: block;
    }
    .description:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 100%;

      width: 0;
      height: 0;
      margin-left: -10px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid black;
    }

    /* make the border of the input label black so working good in mobile end */
    input{width: 100%; border-color: black;}
    select{border-bottom-color: black;}
